---
import Layout from "@/layouts/Layout.astro";
import { Card } from "@/components/starwind/card";

const response = await fetch('https://api.test.kartverket.no/kommuneinfo/v1/fylker');
const data = await response.json();

function sortByFylkesnummer(arr: { fylkesnummer: string; fylkesnavn: string }[]) {
	return arr.slice().sort((a, b) => Number(a.fylkesnummer) - Number(b.fylkesnummer));
}

const sortedData = sortByFylkesnummer(data);
---

<Layout title="Fylker">
	<h1>Fylker</h1>
	<ol>
	{sortedData.map((fylke) => (
		<li><Card>
			<h2>{fylke.fylkesnavn} <span>({fylke.fylkesnummer})</span></h2></Card></li>
	))}
	</ol>
</Layout>